# Visual Studio Code 設定檔
.vscode/
# IntelliJ IDEA 設定檔
.idea/
# Node.js 的依賴模組
node_modules/
# 編譯或建置的結果目錄
build/
# 發布版程式碼的目錄
dist/


# 環境設定檔
.env
# 配置檔案
.config
# macOS Finder 產生的檔案
.DS_Store
# 名叫 app 的 log 檔案
app.log