@import './font.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family:
      Noto Sans TC,
      system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
